.App {
  margin: 0;
  font-family: sans-serif;
}

.instructions {
  color: gray;
  font-size: 2.4rem;
  line-height: 1.35;
}

.logo {
  margin-left: 20px;
}

.exposure-form-base{
  display: flex;
  justify-content: center;
}

.error-message{
  color: red;
}

.dog-image{
  max-width: 80%;
}

.home-base{
  min-height: 80vh;
  display: flex;

}